{% extends 'base.html' %}
{% load form_tags %}

{% block title %}ADvantage | User Details{% endblock %}

{% block content %}
<!-- User Details Section -->
<div class="user-details-section container mt-4">
    <h2 class="section-title mb-4" id="user-details-section"></h2>

            <!-- Section Body -->
            <div class="container-fluid">

                <div class="card mb-4">
                    <div class="card-header">General</div>
                    <div class="card-body">
                          <!-- General Information Content -->
                          <div class="form-row form-group">
                            <label for="givenName" class="col-md-2 col-form-label">First Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="givenName">
                            </div>
                            <label for="initials" class="col-form-label">Initial</label>
                            <div class="col">
                                <input type="text" class="form-control" id="initials">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <label for="sn" class="col-md-2 col-form-label">Last Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="sn">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <label for="displayName" class="col-md-2 col-form-label">Display Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="displayName">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <label for="description" class="col-md-2 col-form-label">Description</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="description">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <label for="physicalDeliveryOfficeName" class="col-md-2 col-form-label">Office</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="physicalDeliveryOfficeName">
                            </div>
                        </div>
                        <hr>
                        <div class="form-row form-group">
                            <label for="telephoneNumber" class="col-md-2 col-form-label">Telephone</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="telephoneNumber">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <label for="mail" class="col-md-2 col-form-label">E-mail</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="mail">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <label for="wWWHomePage" class="col-md-2 col-form-label">Web page</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="wWWHomePage">
                            </div>
                        </div>                     
                    </div>
                  </div>

                  <div class="card mb-4">
                    <div class="card-header">Profile</div>
                    <div class="card-body">
                        <!-- Profile Information Content -->
                        <div class="form-group">
                            <label for="sAMAccountName">User logon name</label>
                            <div class="form-row form-group">
                                <input type="text" class="col-md-6 form-control" id="userPrincipalName0">
                                <div class="col-md-6">
                                    <input class="form-control" type="text" id="userPrincipalName1" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <label for="sAMAccountName" class="col-form-label">User logon name (pre-Windows 2000)</label>
                            <div class="col">
                                <input type="text" class="form-control" id="sAMAccountName">
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-around">
                            
                            <button type="button" id="fetchLogonHoursBtn" class="btn btn-secondary" {% for result in search_results %} data-dn="{{ result.dn }}" {% endfor %}>Logon Hours...</button>
                            <button type="button" class="btn btn-secondary">Log On To...</button>
                        </div>
                        
                        <!-- Account options check boxes-->
                        <div class="border bg-light p-3 mt-3 rounded">
                        <div class="form-check form-group">
                            <input type="checkbox" id="pwdLastSetCheckbox"> User must change password at next logon
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="passwdCantChangeCheckbox" disabled> User cannot change password <!-- Disabled - Needs access to ACL to work-->
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="passwordNeverExpiresCheckbox"> Password never expires
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="storePasswordReversibleEncryptionCheckbox" disabled> Store password using reversible encryption <!-- Disabled - No bit that I could find-->
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="accountIsDisabledCheckbox"> Account is disabled
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="smartCardRequiredCheckbox"> Smart card is required for interactive logon
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="accountIsSensitiveCheckbox"> Account is sensitive and cannot be delegated
                        </div>           
                        <div class="form-check form-group">
                            <input type="checkbox" id="kerberosDESEncryptionCheckbox"> Use only Kerberos DES encryption types for this account
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="aes128BitEncryptionCheckbox"> This account supports Kerneros AES 128 bit encryption
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="aes256BitEncryptionCheckbox"> This account supports Kerneros AES 256 bit encryption
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="kerberosPreauthRequiredCheckbox"> Do not require Kerberos preauthentication
                        </div>
                    </div>
                    </div>
                    <!-- Add additional cards here -->
                </div>

                <!-- User details will be dynamically filled here -->

            </div>            
        </div>
    </div>
</div>

<!-- Logon Hours Modal -->
<div class="modal fade" id="logonHoursModal" tabindex="-1" role="dialog" aria-labelledby="logonHoursModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logonHoursModalLabel">Account Logon Hours</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Logon hours content will be dynamically inserted here -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Include jQuery CDN before custom scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    jQuery(document).ready(function() {
    // Retrieve the stored user details from localStorage
    var userDetails = JSON.parse(localStorage.getItem('userDetails'));
    console.log('User details:', userDetails);

    jQuery('#user-details-section').text(userDetails.displayName);

    // Define handlers for specific keys
    var handlers = {
        userAccountControl: function(value) {
            // Reference: https://learn.microsoft.com/en-us/troubleshoot/windows-server/active-directory/useraccountcontrol-manipulate-account-properties
            // Ensure 'value' is an integer
            value = parseInt(value);

            // Password never expires
            var passwordNeverExpires = value & 0x10000;
            jQuery('#passwordNeverExpiresCheckbox').prop('checked', passwordNeverExpires > 0);

            // Account is disabled
            var accountIsDisabled = value & 0x2; // 2nd bit
            jQuery('#accountIsDisabledCheckbox').prop('checked', accountIsDisabled);

            // Smart card is required for interactive logon
            var smartCardRequired = value & 0x40000; // 18th bit
            jQuery('#smartCardRequiredCheckbox').prop('checked', smartCardRequired);

            // Account is sensitive and cannot be delegated
            var accountIsSensitive = value & 0x100000; // 20th bit
            jQuery('#accountIsSensitiveCheckbox').prop('checked', accountIsSensitive);

            // Account does not require Kerberos pre-authentication
            var useDES = value & 0x200000; // 21st bit
            jQuery('#kerberosDESEncryptionCheckbox').prop('checked', useDES);

            // Kerberos pre-authentication is required
            jQuery('#kerberosPreauthRequiredCheckbox').prop('checked', !!(value & 0x400000));
        },
        'msDS-SupportedEncryptionTypes': function(value) {
            value = parseInt(value, 10);

            // AES 128-bit encryption
            jQuery('#aes128BitEncryptionCheckbox').prop('checked', !!(value & 0x08));

            // AES 256-bit encryption
            jQuery('#aes256BitEncryptionCheckbox').prop('checked', !!(value & 0x10));
        },
        pwdLastSet: function(value) {
            var mustChangePwd = parseInt(value) === 0;
            jQuery('#pwdLastSetCheckbox').prop('checked', mustChangePwd);
        },
        userPrincipalName: function(value) {
            var parts = value.split('@');
            jQuery('#userPrincipalName0').val(parts[0]);
            jQuery('#userPrincipalName1').val('@' + parts[1]);
        },
        // Define more handlers as necessary
    };

    // Loop through userDetails and call the appropriate handler or default action
    for (var key in userDetails) {
        if (userDetails.hasOwnProperty(key)) {
            if (handlers[key]) {
                // Call the handler for this key
                handlers[key](userDetails[key]);
            } else if (key !== 'logonHours') { // Skip logonHours, or handle it if needed
                // Default action for keys without a specific handler
                jQuery('#' + key).val(userDetails[key]);
            }
        }
    }

    // Optionally, clear the localStorage after use to avoid stale data
    //localStorage.removeItem('userDetails');
});

    jQuery(document).ready(function(){
        jQuery('#fetchLogonHoursBtn').click(function() {
            var dn = $(this).data('dn'); // Retrieve DN from the button's data attribute
            jQuery.ajax({
                type: "GET",
                url: "{% url 'logon-hours' %}",
                data: {'dn': dn},
                success: function(data) {
                    var modalBody = $('#logonHoursModal .modal-body');
                    modalBody.empty(); // Clear previous content

                    // Example: Create a list or table based on 'data.logonHours'
                    var content = '<ul>';
                    data.logonHours.forEach(function(hour) {
                        content += '<li>' + hour[0] + ': ' + hour[1] + '</li>';
                    });
                    content += '</ul>';

                    modalBody.append(content); // Add the content to the modal body
                    $('#logonHoursModal').modal('show'); // Display the modal
                },
                error: function(xhr, status, error) {
                    $('#logonHoursModal .modal-body').html('Could not retrieve logon hours.');
                    $('#logonHoursModal').modal('show');
                }
            });
        });
    });
</script> 
{% endblock %}